body {
  font-family: Arial;
}

/* Menu wrapper */

.menu-wrapper {
  display: flex;
}

.el-menu-lsystem {
  width: calc(100% - 200px);
}

.lang-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  float: right;
  border-bottom: 1px solid var(--el-menu-border-color);
  font-size: var(--el-menu-item-font-size);
  line-height: var(--el-menu-item-height);
}

.lang-wrapper .lang-label {
  margin-right: 8px;
}

/* Main content */

.main-content {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .main-content {
    flex-direction: row;
  }
}

/* Form content */

.lsystem-form {
  width: 100%;
}

.lsystem-form .button-wrapper .el-form-item__content {
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .lsystem-form {
    width: 40%;
  }

  .lsystem-form .button-wrapper .el-form-item__content {
    flex-direction: row;
  }
}

.form-input.el-form-item .el-form-item__label {
  display: flex;
  justify-content: left;
  align-items: center;
}

.form-input.el-form-item .el-form-item__label .form-tooltip {
  padding: 8px;
  margin-left: 4px;
  font-size: 16px;
  color: #337ecc;
}

/* Form buttons */

.button-wrapper .el-form-item__content .el-form-item,
.button-wrapper .el-form-item__content .el-form-item__content,
.button-wrapper .el-form-item__content .el-button {
  width: 100%;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .button-wrapper .el-form-item__content .el-form-item,
  .button-wrapper .el-form-item__content .el-form-item__content,
  .button-wrapper .el-form-item__content .el-button {
    width: 100%;
    max-width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .number-wrapper .el-form-item,
  .number-wrapper .el-form-item .el-form-item__content,
  .number-wrapper .el-form-item .el-form-item__content .el-input-number,
  .number-wrapper
    .el-form-item
    .el-form-item__content
    .el-input-number
    .el-input {
    width: 100%;
    max-width: 120px;
  }
}

.number-wrapper .el-form-item,
.number-wrapper .el-form-item .el-form-item__content,
.number-wrapper .el-form-item .el-form-item__content .el-input-number,
.number-wrapper
  .el-form-item
  .el-form-item__content
  .el-input-number
  .el-input {
  width: 100%;
}

.color-wrapper .el-form-item {
  display: inline-block;
  margin-right: 20px;
}

.el-form-item .el-form-item__content .toc-button {
  width: 100%;
  height: 50px;
}

.about-content > * {
  width: 80%;
  padding: 20px;
}

.credits-content > * {
  width: 80%;
  padding: 20px;
}

.about-image-one {
  max-width: 400px;
  max-height: 400px;
}

.video-embed {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.video-embed iframe,
.video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* And set the max-width of the parent element */
.video-wrap {
  width: 100%;
  max-width: 600px;
}

/* .credits{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
} */
